package {{ .PackageName }}

import (
  "context"
  "database/sql"
)

// Execer is the common interface to execute a query without returning any rows.
type Execer interface {
  ExecContext(ctx context.Context, query string, args ...interface{}) (sql.Result, error)
}

// Execer is the common interface to execute a query returning row(s).
type Queryer interface {
  QueryContext(ctx context.Context, query string, args ...interface{}) (*sql.Rows, error)
  QueryRowContext(ctx context.Context, query string, args ...interface{}) *sql.Row
}

// TableEntry is the common interface of an entry of a table.
type TableEntry interface {
  // TableName() returns table name.
  TableName() string

  // ColumnNames() returns list of column names.
  ColumnNames() []string

  // PrimaryColumnNames() returns list of column names of primary key.
  PrimaryColumnNames() []string

  // ColumnValues() returns list of column values (or nil if it is null).
  ColumnValues() []interface{}
}
