package {{ .PackageName }}

import (
  "fmt"
  "context"
  "text/template"
  "database/sql"

  "github.com/jmoiron/sqlx"
  "gopkg.in/volatiletech/null.v6"
)

var (
  // Suppress "imported and not used" errors.
  _ = fmt.Printf
  _ = context.Background
  _ = template.IsTrue
  _ = sql.Open
  _ = sqlx.Named
  _ = null.NewBool
)

{{ range $stmt := .Stmts }}

  {{ $stmtName := $stmt.StmtName }}
  {{ $stmtType := $stmt.StmtType }}
  {{ $args := ExtractArgsInfo $stmt }}
  {{ $vars := ExtractVarsInfo $stmt }}
  {{ $wildcards := ExtractWildcardsInfo $stmt }}
  {{ $useTemplate := $vars.Has "use_template" }}

var (
{{ if $useTemplate -}}
  stmtTmpl{{ $stmtName }} = template.Must(template.New("{{ $stmtName }}").Parse({{ Literal $stmt.Text }}))
{{ else -}}
  stmt{{ $stmtName }} = {{ Literal $stmt.Text }} 
{{ end -}}
)

  {{ if eq $stmtType "SELECT" }}

    {{ $inQuery := $vars.Has "in_query" }}
    {{ $return := $vars.Value "return" }}

// {{ $stmtName }}Result is the result of {{ $stmtName }}.
type {{ $stmtName }}Result struct {
    {{ range $i, $resultCol := $stmt.ResultCols -}}

      {{ $wildcardColumn := $wildcards.WildcardColumn $i -}}

      {{ if $wildcardColumn.Valid -}}
        {{ if eq $wildcardColumn.Pos 0 -}}
  {{ UpperCamel $wildcardColumn.Table.TableName }} {{ UpperCamel $wildcardColumn.Table.TableName }}
        {{ end -}}
      {{ else -}}
  {{ UpperCamel $resultCol.Name }} {{ ScanType $resultCol }}
      {{ end -}}

    {{ end -}}
}

func (r *{{ $stmtName }}Result) scanFrom(rows *sql.Rows) error {
  return rows.Scan(
{{ range $i, $resultCol := $stmt.ResultCols -}}
  {{ $wildcardColumn := $wildcards.WildcardColumn $i -}}
  {{ if $wildcardColumn.Valid -}}
  &r.{{ UpperCamel $wildcardColumn.Table.TableName }}.{{ UpperCamel $wildcardColumn.ColumnName }},
  {{ else -}}
  &r.{{ UpperCamel $resultCol.Name }},
  {{ end -}}
{{ end -}}
  )
}

func {{ $stmtName }}(ctx context.Context, q Queryer
{{- range $arg := $args.Args -}}
, {{ $arg.ArgName }} {{ $arg.ArgType }}
{{- end -}}
) ({{ if or (eq $return "one") (eq $return "first") }}*{{ else }}[]*{{ end }}{{ $stmtName }}Result, error) {

  // Data
  data_ := map[string]interface{}{
{{ range $arg := $args.Args -}}
    "{{ $arg.ArgName }}": {{ $arg.ArgName }},
{{- end }}
  }

{{ if $useTemplate }}
  // Template -> named query
  namedQuery_ := newWriterStringer()
  if err_ := stmtTmpl{{ $stmtName }}.Execute(namedQuery_, data_); err_ != nil {
    return nil, err_
  }
  namedQueryString_ := namedQuery_.String()
{{ else }}
  // Named query.
  namedQueryString_ := stmt{{ $stmtName }}
{{ end }}

  // Named query -> query
  query_, args_, err_ := sqlx.Named(namedQueryString_, data_)
  if err_ != nil {
    return nil, err_
  }

{{ if $inQuery }}
  // Expand "in" args.
  query_, args_, err_ = sqlx.In(query_, args_)
  if err_ != nil {
    return nil, err_
  }
{{ end }}

  // Query
  rows_, err_ := q.QueryContext(ctx, query_, args_)
  if err_ != nil {
    return nil, err_
  }
  defer rows_.Close()

{{ if eq $return "first" }}
  // Return first row
  if !rows_.Next() {
    return nil, nil
  }
  result_ := &{{ $stmtName }}Result{}
  if err_ := result_.scanFrom(rows_); err_ != nil {
    return nil, err_
  }
  return result_, rows_.Err()
{{ else if eq $return "one" }}
  // Return one row
  if !rows_.Next() {
    return nil, nil
  }
  result_ := &{{ $stmtName }}Result{}
  if err_ := result_.scanFrom(rows_); err_ != nil {
    return nil, err_
  }
  if rows_.Next() {
    return nil, fmt.Errorf("{{ $stmtName }} returns more than one row")
  }
  return result_, rows_.Err()
{{ else }}
  // Return rows
  results_ := []*{{ $stmtName }}Result{}
  for rows_.Next() {
    result_ := &{{ $stmtName }}Result{}
    if err_ := result_.scanFrom(rows_); err_ != nil {
      return nil, err_
    }
    results_ = append(results_, result_)
  }
  return results_, rows_.Err()
{{ end }}
}

  {{ else if eq $stmtType "DELETE" }}

  {{ else if eq $stmtType "UPDATE" }}

  {{ else if eq $stmtType "INSERT" }}


  {{ else }}

  {{ end }}

{{ end }}
